
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body, html { 
  font-family: 'Quicksand', sans-serif  !important;
}

.IconButton:hover .Iconclass {
  background-color: "Red";
}

.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* for edge cases: */
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .App{
    width: 750px;
  }
}

@media (min-width: 992px) {
  .App{
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .App{
    width: 1170px;
  }
}

body{
  margin-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Card-Media{
  height: 0;
  padding-top:"56.25%";
}

@media (max-width: 815px) {
  .fc .fc-toolbar.fc-header-toolbar {
      display: block;
      text-align: center;
  }

  .fc-header-toolbar .fc-toolbar-chunk {
      display: block;
      padding-top: 2vh;
  }

  .eventClass{
    overflow:auto;
  }
}


.fc-event{
  cursor: pointer;
  overflow: auto;
}

.fc-content {
  cursor: pointer;
}

#container{
  padding: 20,0,20,0;
}

#CalendarList{
  background-color: rgb(230, 230, 230) ;
  display: inline-block;
  justify-content: center;
  width: 50%;
  box-shadow: 4px 4px 3px #888888;
}

#Calendar{
  margin-top: 20px;
}

.fc-toolbar-title{
  color:darkmagenta;
}

.fc-scrollgrid-section-header{
  background-color:rgb(210, 51, 30);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  display: inline-table;
  justify-content: center; /* Can be changed in the live sample */
  list-style-type:none
}

.entries{
  text-align:center;
  border-bottom: 1.5px black ;
  border-style: groove;
  padding: 2px;
  margin-top: 5px;
  
}

.card-image{
  height: 250px;
  width: 250px;
}
